<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <span class="fw-bolder fs-4">The form contains <%= pluralize(@user.errors.count, "error") %>:</span>
    </div>
    <ul class="mb-2 text-danger">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>